.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.navigation-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.mat-toolbar {
    font-size: 0.75rem;
}

.mat-toolbar h6 {
    font-size: 1.125rem;
}

.info-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}
