a:hover,
a:active {
    color: #2196f3;
}

.mat-nav-list {
    width: 100%;
    a {
        .mat-icon {
            margin-right: 15px;
            color: #0f58a8;
        }
        display: block;
        font-size: 0.75rem;
    }
}

.mat-expansion-panel-header .mat-icon {
    color: #0f58a8;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}
.submenu.expanded {
    transform: scaleY(1);
}
