.mat-icon {
    height: 32px;
    width: 32px;
}

li {
    font-size: 0.75rem;
}

.nav-item,
.nav-item .mat-icon {
    color: #fff;
}

li.nav-item {
    font-size: 9px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: contents;
}

.nav-link {
    margin: 0;
    padding: 5px 0 0 0;
}

.mat-divider {
    border-bottom: solid 1px #000;
}