<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Home">
            <mat-icon>monetization_on</mat-icon>
        </a>
        PAYROLL
    </li>
    <mat-divider></mat-divider>
    <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Dashboard">
            <mat-icon>list_alt</mat-icon>
        </a>
        ORDER
    </li>
    <mat-divider></mat-divider>
    <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Orders">
            <mat-icon>storefront</mat-icon>
        </a>
        PROCUREMENT
    </li>
    <mat-divider></mat-divider>
    <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Products">
            <mat-icon>inventory</mat-icon>
        </a>
        PRODUCTION
    </li>
    <mat-divider></mat-divider>
    <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Customers">
            <mat-icon>summarize</mat-icon>
        </a>
        REPORTS
    </li>
    <mat-divider></mat-divider>
</ul>