<div class="login-container">
    <div class="login-logo">
        <img id="logo-img" src="../../../../assets/logo.png" alt="ERP LOGO" />
    </div>
    <div class="login-container-inner">
        <div class="login-container-inner-label">LOGIN</div>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" type="text">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Username" type="text">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Financial Year</mat-label>
            <input matInput placeholder="Financial Year" type="number">
        </mat-form-field>
        <br> <br>
        <button class="submit-btn" mat-raised-button mat-button color="primary">Login</button>
    </div>
</div>
<footer class="footer">
    <p>© 2022 Our Erp Name. All rights reserved.</p>
</footer>