@import '~src/scss/variables';

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .sidenav-container {
        flex: 1;
        background: $main-background-color;
        height: 100%;
        .sidenav {
            width: 70px;
            background: $primary-color;
            font-size: 11px;
        }
        .main-container {
            padding: 20px;
        }
    }
}
